body{ 
	width : 1000px ;
	height : 1000px ;
	background-color : red ;
}
div{
	width : 100px ;
	height : 100px ;
	background-color : blue ;
}
html{
	width : 200px ;
	height : 200px ;
	background-color : black ;
}
.example{
	border : 1px solid sliver ;
	width : 80px ;
	height : 30px ;
	color : yellow ;
}